@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
}
ul li, ol li{
    list-style-type: none;
}
a{
    text-decoration: none !important;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* Mini Header Starts Here */
.mini-header{
    padding: 0 130px;
    color: #F2F2F2;
    background-color: #F2F2F2;;
}
.mini-header .left-side{
    display: flex;
    padding: 13px 0;
}
.mini-header .left-side a{
    margin-right: 8px;
    color: #666666;
}
.mini-header .left-side a:hover{
    color: red;
}
.mini-header .left-side p{
    font-size: 12px;
    font-weight: 400;
    line-height: 130%;
    color: #666666;
    margin-bottom: 0;
}
.mini-header-nav{
    color: #666666;
}
.mini-header .right-side{
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
}
.navbar-light .navbar-nav .mini-nav:hover{
    color: black !important;
}
/* Mini Header Starts Here */

/* Top-header start here */
.top-header{
    display: flex;
    justify-content: space-between;
    padding: 0 130px;
}
.logo{
    padding: 24px 0;
}
.logo img{
    width: 122px;
    height: 38px;
}
.navbar-brand {
    font-size: 14px;
    font-weight: normal;
    color: #1A1A1A;
    line-height: 150%;
}
.navbar-brand svg{
    width: 18px;
    height: 18px;
    margin: 0 12px;
    text-align: center;
}
.chart{
    position: relative;
    display: flex; 
    padding: 25px 0;   
}
.chart .heart a,
.chart .bag a{
    color: #1A1A1A;
}
.chart .heart a:hover{
    color: red;
}
.chart .bag a:hover{
    color:  #28a745;
}
.chart .bag{
    margin: 0 12px;
    width: 32px;
    height: 32px;
    position: relative;

}
.bag-power{
    position: absolute;
    top: 24px;
    right: 12px;
    width: 18px;
    height: 18px;
    color: #FFFFFF;
    background-color: #2C742F;
    border: 1px solid #FFFFFF;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 500;
}
.search-filter form .form-control{
    margin-right: 0 !important;
    padding: 11px 60px;
    background: #F2F2F2;
    background-color: white;
}
.form-control:focus {
    outline: none;
  }
.form-control:focus {
    border-color: #F2F2F2;
    box-shadow: none;
  }
  .btn:focus, .btn.focus {
    outline: none !important;
    box-shadow:none!important; // or none
}
.search-filter .navbar-brand {
    font-size: 14px;
    font-weight: normal;
    color: #1A1A1A;
    line-height: 150%;
    padding: 12px 18px;
    background: #F2F2F2;
    border-radius: 6px 0px 0px 6px;
    margin-right: 0;
}
.search-filter .bg-light{
    background-color: white!important;
}
.mb-2, .my-2 {
    margin-bottom: .5rem!important;
}
.mt-2, .my-2 {
    margin-top: .5rem!important;
}
.btn-outline-success{
    color: white;
    background-color: #28a745;
    padding: 10px;
}
.btn-outline-success a{
    color: white;
}
.btn.btn-outline-success{
    border-radius: 0 4px 4px 0;
}

/* Header Starts Here */
a.nav-link:first-child {
    padding-left: 0 !important;
}
.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding-left: 0;
}
.menu-bar{
    padding: 20px 130px;
    display: flex;
    justify-content: space-between;
    background-color: #333333 !important;
}
.call-item{
    display: flex;
}
.call-item a{
    color: white;
    padding-top: 16px;
    margin-right: 8px;
}
.call-item p{
    color: white;
    text-align: center;
    margin-bottom: 0 !important;
    padding-top: 16px;
}
.nav-item{
    margin-right: 25px;
}
.nav-item:last-child{
    margin-right: 0;
}
.bg-light{
    background-color: #333333 !important;
}
.navbar-light .navbar-nav .active>.nav-link{
    color: #FFFFFF;
}
.navbar-light .navbar-nav .nav-link{
    color: #999999;
    font-size: 14px;
    font-weight: 500;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: white;
}
/* Header Ends Here */

/* Breadcumbs Starts Here */
.breadcrumbs-area{
    padding: 0 130px;
}
.breadcrumbs-area .breadcrumb{
    background-color: #FFFFFF;
    margin-bottom: 0;
}
.breadcrumbs-area .breadcrumb li a{
    font-size: 14px;
    font-weight: 400;
    color: #808080;
    text-decoration: none;
    line-height: 21px;
}
.breadcrumbs-area .breadcrumb .active{
    color: #2C742F;
    font-size: 14px;
}
.breadcrumbs-area .breadcrumb li a{
    transition: all 0.3s linear;
}
.breadcrumbs-area .breadcrumb li a:hover{
    color: black;
}
.breadcrumbs-area .breadcrumb li .home svg{
    width: 20px;
    height: 20px;
}
.breadcrumbs-area .breadcrumb li svg:first-child{
    margin: 0px 0px !important;
}
.breadcrumbs-area .breadcrumb li  svg{
    margin: 0 8px !important;
}
.breadcrumb-item+.breadcrumb-item::before{
    display: none;
}
/* Breadcumbs Starts Here */

/* Banner Starts Here */
.banner-area{
    padding: 0 130px;
}
    .faq-text{
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .faq-text h2{
        font-size: 48px;
        font-weight: 600;
        color: #1A1A1A;
        line-height: 120%;
        margin-bottom: 30px;
    }
    .top-card-area{
        display: flex;
        justify-content: space-between;
    }
    .top-card #faq-area-button{
        background: #F2F2F2;
    }
    #faq-area-button{
        width: 32px;
        height: 32px;
        background: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #headingThree{
        background-color: #F2F2F2;
    }
    .faq-text .top-card{
        border: 1px solid #84D187;
    }
    .faq-text .card{
        margin-bottom: 12px;
    }
    .top-card .btn.btn-link{
        color: #2C742F;
    }
    .btn.btn-link{
        color: #1A1A1A;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        padding: 0px;
    }
    .top-card .card-header{
        background-color: #FFFFFF;
        border-bottom: 1px solid #84D187;
    }

    .card-header{
        padding: 15px; 
    }
    .card-body {
        padding: 15px;
        font-size: 14px;
        color: #666666;
        font-weight: normal;
        line-height: 150%;
    }
/* Banner Ends Here */

/* Newslater Starts here */
.newslater{
    background: #F7F7F7;
    padding: 0 130px;
}
.newslater-area{
    display: flex;
    justify-content: space-between;
}
.newslater-text{
    margin: 40px 0;
}
.newslater-text h2{
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    color: #1A1A1A;
}
.newslater-text p{
    font-size: 14px;
    font-weight: normal;
    color: #999999;
    margin-top: 4px;
    width: 448px;
    height: 42px;
}
.input-button{
    margin: 55px 0;
    position: relative;
}
.input-button input{
    width: 492px;
    height: 52px;
    padding: 14px 24px;
    background: #E6E6E6;
    border-radius: 46px; 
    border: none;
    margin: 0 10px; 
}
.input-button button{
    width: 162px;
    height: 52px;
    background: #333333;
    border-radius: 43px;
    border: none;
    position: absolute;
    top: 0;
    right: -30px;
}
.input-button button a{
    padding: 16px 40px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #FFFFFF;
}
.social-icon-area{
        margin: 60px 0;
}
.social-icon-area ul{
    display: flex;
}
.social-icon-area ul li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.3s linear;
}
.social-icon-area ul li{
    margin-right: 8px;
}
.social-icon-area ul li a svg{
    color: #4D4D4D;
}
.social-icon-area ul li a:hover svg{
    color: white;
}
.social-icon-area ul li  .facebook:hover{
    background-color: #3b5999;
    color: #FFFFFF;
}
.social-icon-area ul li .twitter:hover{
    background-color: #55acee;
    color: #FFFFFF;
}
.social-icon-area ul li .pinterest:hover{
    background-color: #bd081c;
    color: #FFFFFF;
}
.social-icon-area ul li .instagram:hover{
    background-color: #e4405f;
    color: #FFFFFF;
}





/* Newslater Ends here */

/* Footer Starts here */
.footer{
    background-color: #1A1A1A;
    padding: 60px 130px;
}
.footer .para{
    color: #808080;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    margin: 16px 0; 
    /* width: 336px;
    height: 63px;   */
}
.footer .btn:focus{
    border: none !important; 
}
.footer button{
    margin: 10px 0;
    text-decoration: none;
    border: none;
    background: #1A1A1A;
    box-shadow: 0px 1.5px 0px #20B526;
}
.footer button a{
    text-decoration: none;
    color: white;
    background-color: #1A1A1A;
    margin: 6px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;  
}
.account p{
    color: #FFFFFF;
    text-transform: capitalize;
}
.account ul{
    margin-bottom: 0;
}
.account ul li{
    margin-bottom: 12px;
    transition: all 0.3s linear;
}
.account ul li:last-child{
    margin-bottom: 0;
}
.account ul li a{
    text-decoration: none;
    color: #999999;
    text-transform: capitalize;
}
.account ul li a:hover{
    color: #FFFFFF;
}
/* Footer Ends here */

/* Minimal Footer Starts here */
.minimal-footer{
    background-color: #1A1A1A;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px -1px 0px #333333;
    padding: 0 130px;
}
.minimal-footer .text p{
    font-size: 14px;
    font-weight: 400;
    color: #808080;
    line-height: 150%;
    margin: 20px 0;
}
.minimal-footer .payment-method ul{
    display: flex;
    margin: 15px 0;
}
.minimal-footer .payment-method ul li{
    margin-right: 8px;
}
/* Minimal Footer Ends here */